# Core ML & Data Science
tensorflow==2.18.0
numpy==1.26.4
scikit-learn==1.2.2

# tensorflow
# numpy
pandas
# scikit-learn
seaborn
matplotlib

# Kaggle API
kaggle

# Testing
pytest
pytest-cov

# Apple Silicon Support (uncomment if using Mac with M chip)
tensorflow-macos
tensorflow-metal